.container {
  background-color: #fff;
  width: 100%;
  margin-top: 1.5em;
  padding: 2em 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3em;
  border-left: 0.3em solid transparent;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}
.container:hover {
  border-left: 0.3em solid #5ca5a5;
}

.left {
  display: flex;
  align-items: center;
  width: 55%;
}

.right {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.cname {
  padding: 0.5em 0em 0.3em 0em;
  font-size: 0.875em;
  color: #5ca5a5;
  font-weight: 700;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5em 0;
}

.container:hover .heading {
  color: #5ca5a5;
}

.subtitle {
  width: 18em;
  display: flex;
  justify-content: space-between;
  color: #7c8f8f;
  font-size: 0.9em;
  font-weight: 500;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.selectbtn {
  outline: none;
  border: none;
  background: none;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) and (max-width: 1099px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .desc {
    width: 100%;
  }

  .heading {
    width: 100%;
  }

  .skills {
    margin-top: 0.6em;
    margin-left: 7.8em;
    flex-wrap: wrap;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 1.25rem;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .right {
    width: 100%;
  }

  .heading {
    margin-bottom: 0;
    font-size: 1.125em;
  }

  .desc {
    margin-left: 0;
    margin-top: 0.2em;
  }

  .subtitle {
    flex-wrap: wrap;
  }

  .subitem {
    width: max-content;
    margin-right: 0.2em;
    margin-top: 1em;
  }

  .skills {
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.5em 0;
  }

  .logo {
    width: 3.75em;
  }
}
